.about {
    p {
        grid-column: 3 / 7;
        grid-row: 4 / 6;
    }

    footer {
        grid-column: 1 / 8;
        grid-row: 7 / 8;
        max-width: 2100px;
        padding: 0 2.5%;
        display: flex;
        justify-content: space-between;
        align-self: center;
    
    }
}



@media screen and(max-width: 568px) {
    .about {
        .titre {
            align-self: center;
        }
        p {
            grid-row: 3 / 6;
        }
    }
    
}