/*
 * http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-size: 62.5%;
    font-size: calc(1em * .625);
    font-family: 'Lato';
    box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {

    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;

}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul, li{
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}
strong {
    font-weight: bold;
}
a,
button {
    color: inherit;
    transition: .3s;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}

img, object, embed, canvas, video, audio, picture{
 
    border: 0;
}
